.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: rgb(60, 69, 70);
    padding: 26px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    

}

.btn-row{
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.screen{
    height: 50px;
    border-radius: 12px;
    border-width: 0px;
    margin-bottom: 16px;
    padding-right: 10px;
    font-size: 32px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn{
    width:70px;
    height:70px;
    padding: 0px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(225, 232, 238);
}

.operator{
    background-color: rgb(253, 190, 16);
}
  
img{
    height: 40px;
    width: 40px;
}